h1{
    text-align: center;
   color: rgb(162, 110, 185);
   font-size: 45px;
   font-style: italic;
   background-color: rgb(224, 166, 110);
}

b {
color: rgb(231, 159, 159);
     font-family: 'Times New Roman', Times, serif;
     font-size: 20;
}

.imagem {
 display: block;
margin-left: auto;
margin-right: auto;
width: 1000px;
border-style: groove;
border-radius: 40px;
border-width: 40px;
border-color: rgb(228, 87, 87);
}

.contato {
background-color: rgb(228, 139, 105);
width: 11%;
border-radius: 30px;
margin: auto;
text-align: center;
vertical-align: top;
display: inline-block
}
.texto {
     background-color: rgb(165, 68, 92);
     width: 60%;
     border-radius: 30px;
     margin: auto;
     text-align: center;
}
.corpinho {
    

     background-color: burlywood;
     background-image: linear-gradient(to top, rgb(224, 166, 110), rgb(175, 128, 83), rgb(150, 108, 68) ,rgb(131, 93, 57) )
}